site_name: Security Research
site_url: https://terryf82.github.io/
theme:
  name: material
  font:
    text: Roboto
  icon:
    logo: material/console
  palette:
    scheme: slate
    primary: lime
    accent: lime # highlight colour
  features:
    - navigation.tracking # anchor tracking
    - navigation.expand # expand all subsections by default
    - navigation.footer
plugins:
  - blog:
      blog_dir: blog
      archive: false
      post_url_format: "{slug}"
  - search
  - tags
nav:
  - Home: index.md
  - Blog:
      - Blog: blog/index.md
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

  